.user {
  width: var(--sys-wid);
  flex: 1 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: var(--clr-main);
  height: calc(100vh - 120px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  font-size: 12px;

  .conf {
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .btn {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;

      i {
        margin-right: 10px;
      }
    }

    .fun {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 20px;

      .btn {
        width: 150px;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      border: 1px solid #eee;
      font-size: 16px;

      .row {
        // display: flex;
        display: grid;
        grid-template-columns: 50px 80px 80px 150px repeat(9, 1fr) 100px;
        padding: 5px 20px;
        align-items: center;

        &:nth-child(1) {
          background: #336699 !important;
          color: #fff;
          font-weight: bold;
        }

        &:nth-child(2n + 1) {
          background: rgba(255, 255, 255, 0.1);
        }

        & > span {
          padding: 0 5px;
          text-align: center;
          gap: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &:nth-child(10) {
            flex: 1;
            display: flex;
            justify-content: center;

            .m-btn {
              width: 100px;

              & + .m-btn {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }

  .form {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    .wrap {
      width: 600px;
      background: #fff;
      padding: 20px 30px;

      .fun {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          height: 40px;
          width: 150px;

          & + button {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.red {
  background: #cc0000 !important;
  color: #fff !important;
}

.orange {
  background: #fa8c16 !important;
  color: #fff !important;
}

.green {
  background: #00c062 !important;
  color: #fff !important;
}

.hide {
  display: none;
}
